* {
  box-sizing: border-box;
}

body {
	font-family: Georgia, serif
}

/* -- Main content -- */
.main {
  margin-left: 110px;
  font-size: 17px; /* Increased text to enable scrolling */
  color: #333a43;
  
  /* Center horizontally */
  text-align: center;
  /* Center vertically */
  top: 50%;
  margin-top: 50px;
}

.main-resume {
  color: #333a43;
  padding-left: 30px;
  padding-top: 30px;
  margin-left: 110px;
}

.main-projects {
  color: #333a43;
  padding-left: 30px;
  padding-top: 30px;
  margin-left: 110px;
}

/* -- dynamic underline link -- */

a {
  color: #1d4d8b;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: white  ;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* -- images -- */

.ficon {
  text-decoration: none;
  padding-top: 20px;
  padding-right:10px;
  padding-left: 10px;
  padding-bottom: 3px;
}

i {
  color: #333a43;
}

img.regimg {
  max-width: 300px;
  width: 200px;
  border-radius: 50%;
  padding: 10px;
}

img.rightimg {
  width: 400px;
  max-width: 30%;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
}
/* -- line after header -- */

h1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
span {
  padding-right: 20px
}
h1.portfolio:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 100%;
  height: 2px;
  content: '\a0';
  background-color: #e8e6e6;
}

/* -- portfolio image slide -- */
/* https://codepen.io/littlesnippets/pen/QjpZzG */

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1110 {
  display:inline-block;
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* min-width: 220px; */
  width: 310px;
  height: 200px;
  /* width: 100%; */
  /* border: 1px solid #c2496169; */
  box-shadow: 0 0 2px #e8e6e6;
}
figure.snip1110 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip1110 img {
  width: 100%;
  height: 100%;
  position: relative;
}
figure.snip1110 figcaption {
  font-size: 14px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 30%;
  right: 0px;
  padding: 15px 20px;
  background-color: #e8e6e6;
  color: #333a43;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
  z-index: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 0.95;
}
figure.snip1110 h3 {
  margin: 0;
  /* text-transform: uppercase; */
  font-weight: 400;
  border-bottom: 1px solid #333a43;
  padding: 2px;
}
figure.snip1110 span {
  font-style: italic;
}

figure.snip1110:hover img,
figure.snip1110.hover img {
  /* -webkit-transform: translateX(20px);
  transform: translateX(20px); */
}
figure.snip1110:hover:after,
figure.snip1110.hover:after {
  left: 0;
}
figure.snip1110:hover figcaption,
figure.snip1110.hover figcaption {
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  opacity: 1;
}
