
/* -- Fixed sidenav, full height -- */
.navbar {
  display: block;
  height: 100%;
  width: 110px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 2px solid #c2496169;
  background-color: #d8d6d688;
  overflow-x: hidden;
  padding-top: 20px;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}
ul.mainmenu{
  text-align: center;
  /* text-transform: uppercase; */
}
.mainmenu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #333a43;
}

/* -- Footer -- */
#footer {
  position: absolute;
  bottom: 0px;
  padding: 5px;
}

#footer p {
  font-size: 12px;
  color: rgb(114, 114, 114);
}
