* {
  box-sizing: border-box;
}

body {
	font-family: Georgia, serif
}

/* -- Main content -- */
.main {
  margin-left: 100px;
  font-size: 17px; /* Increased text to enable scrolling */
  color: #333a43;
  
  /* Center horizontally */
  text-align: center;
  /* Center vertically */
  top: 50%;
  margin-top: 50px;
}

/* -- dynamic underline link -- */

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #c24962  ;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* -- images -- */

.ficon {
  text-decoration: none;
  padding-top: 20px;
  padding-right:10px;
  padding-left: 10px;
  padding-bottom: 3px;
}

i {
  color: #333a43;
}

img.regimg {
  max-width: 300px;
  width: 200px;
  border-radius: 50%;
  padding: 10px;
}

img.rightimg {
  width: 400px;
  max-width: 30%;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
}
